body  {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}
.header--main {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.link--cta {
  color: Aquamarine;
  font-size: 16px;
}
h1 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
p {
  font-size: 41px
  color: gray
}
h3 {
  color: gray
}
footer {
  text-align: right;
  color: gray;
}
